*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Saira Condensed', sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 80vh;
    margin-top: 20px;
}
/*
.esquerda{
    display: flex;
    justify-content: center;
    width: 60%;
}
*/

.tabela-topo{
    background: rgba(217, 217, 217, 1);
}

table{
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    }

th, td{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border: 3px solid #000000;
}

/*
.direita{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 15px;
}

.nivel-de-agua, .temp-umidade {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

.barra-de-agua {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    position: relative;
    background-color: #f0f0f0;
}

.agua {
    height: 100%;
    width: 0%;
    background-color: green;
    transition: width 0.5s, background-color 0.5s;
}*/

.atualizar{
    background-color: #28a745;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; /* Adiciona um espaço entre a tabela e o botão */
}

.atualizar:hover{
    background-color: #1e6b30;
    transform: scale(1.05);
}