*{
    font-family: 'Saira Condensed', sans-serif;
}

body{
    background-image: url("../Imagens/background.jpg");
    background-size: cover;
}

div{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    height: auto;
    box-sizing: border-box;
}

button{
    background-color: #28a745;    
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 20px auto 0;
    border: none;
    width: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover{
    background-color: #1e6b30;
    transform: scale(1.05);
}

input:focus {
border: 2px solid #007BFF; 
outline: none; 
}

h2{
    text-align: center;
}

input{
    width: 280px;
    height: 30px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
    display: block;
}

img{
    display: block; 
    margin: 0 auto 20px;
}

small{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
}

.esqueceuSenha{
    display: block;
    margin-top: -10px; 
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 0.8em;
    text-align: left;
    margin-left: 5px;
}

.erro{
color: red;
font-size: 13px;
display: block;
}